@model extreemt.product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Product", FormMethod.Post,
      new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>product</legend>

        @Html.HiddenFor(model => model.id)
        <div class="form-group">
            <div class="row">
                <div class="col-xs-4">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.name)
                    </div>
                    <div class="editor-field form-control">
                        @Html.EditorFor(model => model.name)
                        @Html.ValidationMessageFor(model => model.name)
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.description)
                    </div>
                    <div class="editor-field form-control" >
                        @Html.EditorFor(model => model.description)
                        @Html.ValidationMessageFor(model => model.description)
                    </div>
                    </div>
                </div>
          
            <div class="row">
                <div class="col-xs-4">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.count)
                    </div>
                    <div class="editor-field form-control">
                        @Html.EditorFor(model => model.count)
                        @Html.ValidationMessageFor(model => model.count)
                    </div>
                    </div>
                <div class="col-xs-4">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.price)
                    </div>
                    <div class="editor-field form-control">
                        @Html.EditorFor(model => model.price)
                        @Html.ValidationMessageFor(model => model.price)
                    </div>
                </div>
                </div>
             
            <div class="row">
                <div class="col-xs-2">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.categoryId, "category")
                    </div>
                    <div class="editor-field form-control">
                        @Html.DropDownList("categoryId", String.Empty)
                        @Html.ValidationMessageFor(model => model.categoryId)
                    </div>
                </div>

                    <div class="col-xs-4">
                        <a href="@Url.Action("DeleteAllPhotosEdit", "Product", new { id=Model.id})">Delete All Photos</a>
                        <label>Add Photos</label>
                        <input type='file' multiple id='fileUpload' name="files[]" />
                    </div>
                </div>
              <br />

                <p>
                    <input type="submit" value="Save" />
                </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
