@{
    if (!extreemt.tools.isAuthorized(Request.Url.AbsolutePath))
    {
        if (Request.Url.AbsolutePath != Url.Action("Index", "Home"))
        {
            Response.Redirect(Url.Action("Index", "Home"));
            return;
        }
    }
}
@{
    ViewBag.Title = "Account_Summary";
    extreemt.user user = extreemt.Account.staticGetLoggedUser();
    List<extreemt.cheque> chqs = new List<extreemt.cheque>();
    if (user.cheques.Count > 0)
    {
        chqs = user.cheques.OrderByDescending(o=>o.chequeDate).ToList();
    }
    extreemt.extreemtEntities db = new extreemt.extreemtEntities();
    extreemt.user leftuser = db.users.Where(u => u.parentUserId == user.userId && u.genNumber == 2).First();
    List<extreemt.cheque> leftchqs = new List<extreemt.cheque>();
    if (leftuser.cheques.Count > 0)
    {
        leftchqs = leftuser.cheques.OrderByDescending(o => o.chequeDate).ToList();
    }
    extreemt.user rightuser = db.users.Where(u => u.parentUserId == user.userId && u.genNumber == 3).First();
    List<extreemt.cheque> rightchqs = new List<extreemt.cheque>();
    if (rightuser.cheques.Count > 0)
    {
        rightchqs = rightuser.cheques.OrderByDescending(o => o.chequeDate).ToList();
    }
}

<h2>Account_Summary</h2>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Agency</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Date</th>

            </tr>

        </thead>
        <tbody>
            @{
                if (chqs.Count > 0)
                {
                    foreach (extreemt.cheque item in chqs)
                    {
                        <tr>
                            <td>001</td>
                            <td>@item.chequeType</td>
                            <td>@item.amount</td>
                            <td>@item.chequeDate.ToString("yyyy-MM-dd")</td>
                        </tr>
                    }
                }
                if (leftchqs.Count > 0)
                {
                    foreach (extreemt.cheque item in leftchqs)
                    {
                        <tr>
                            <td>002</td>
                            <td>@item.chequeType</td>
                            <td>@item.amount</td>
                            <td>@item.chequeDate.ToString("yyyy-MM-dd")</td>
                        </tr>
                    }
                }
                if (rightchqs.Count > 0)
                {
                    foreach (extreemt.cheque item in rightchqs)
                    {
                        <tr>
                            <td>003</td>
                            <td>@item.chequeType</td>
                            <td>@item.amount</td>
                            <td>@item.chequeDate.ToString("yyyy-MM-dd")</td>
                        </tr>
                    }
                }
            }

        </tbody>
    </table>
</div>
